*{
    padding: 0;
    border: 0;
    margin: 0; 
    box-sizing: border-box;
}
#PainelSalao {
    height: auto;
    display: flex;
    flex-direction: row;
}




#HeadePainel {
    border-radius: 0px 15px 15px 0px;
    background-color: #0d0e23;
    width: 20%;
    height: 100vh;
    position: fixed ;
}

#UsserHead {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#UsserHead #LogoSalaoPainle {
    padding: 10PX;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#HeadePainel .LinksPage {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    background-color: #24253a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
#HeadePainel .LinksPage a {
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
#HeadePainel .LinksPage:hover{
    width: 85%;
    margin-left: 7%;
    
}
#HeadePainel #LKpainel {
    background-color: #5741d1;
}
















#TitleAgenda {
    color: rgb(41, 173, 41);
}
#SectionAgendaSalaoPainel{
    width: 80%;
    margin-left: 20%;
    height: auto;
    background-color: #ffffff;
}

#ConteinerAgendaPainel {
    width: 60%;
    margin-left: 20%;
}
#DiaMesAno {
    width: 80%;
    height: 35px;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}
#SelectMes {
    width: 300px;
    height: 35px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
#Agendados {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#Agendados ul {
    background-color: #0b395477;
    border: black solid 1px;
    border-radius: 10px;
    list-style: none;
    margin-left: 4%;
    width: 20%;
    margin-bottom: 15px;
    text-align: center;
}

#DivHeaderAgenda{
    height: 60px;
    background-color: #000000;
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#Agendados ul .D {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.D .Bt {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
    font-weight: 600;
    color: #000000;
    background-color: #0b395477;
}

.btnValor {
    height: 35px;
    width: 100px;
    border-radius: 5px;
}
#Agendados ul li p {
    line-height: 25px;
    font-weight: 600;
}
.UnderLine{
    text-decoration: underline;
}

#Relatorio {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
}
#Today {
    width: 80%;
    margin-left: 10%;
    display: flex;
}
#Today div {
    width: 40%;
    margin: 5%;
}



@media(max-width: 800px){
    #Agendados ul {
        width: 80%;
        margin-left: 10%;
    }
    #SectionAgendaSalaoPainel #Buscados  {
        display: flex;
        flex-direction: column;
    }#SectionAgendaSalaoPainel #Buscados ul  {
        width: 80%;
        margin-left: 10%;
    }
}
.Relogio {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.imgRelogio {
    width: 50px;
    margin-left: 10px;
}
.Relogio p {
    padding: 5px;
}
.perfilCliente{
    width: 90%;
    border-radius: 10px;
    background-color: #0b395477;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-bottom: 10px;
}
.perfilCliente p {
    margin-right: 5px;
}

.LKWhatsapp {
    padding-top: 20px;
    margin-left: 10px;
}
#OBS{
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    height: auto;
    background-color: #fafafa;
    margin-left: 5%;
    margin-bottom: 10px;
}
#TitleOBS {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 20px;
    background-color: #000000;
    color: white;
    margin-bottom: 10px;
}