*{
    padding: 0;
    border: 0;
    margin: 0; 
    box-sizing: border-box;
}
#PainelSalao {
    background-color: #fafafa;
}
#HeaderSalao {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 105px;
}
#LogoSalao{
    width: 100px;
    height: 90px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
}
#TitleAgenda {
    color: rgb(255, 255, 255);
}
#TitleSalao{ 
    color: white;
    font-size: 20px;
}
hr{
    width: 100%;
    color: black;
    border: 1px solid;
    margin-bottom: 5px;
}
#ButtonsMenuSalao {
    background-color: rgb(213, 218, 218);
    display: flex;
    width: 100%;
    height: 50px;
}

#Agendaa{
    font-size: 40px;
}
.DivMenu{
    height: 50px;
    width: 80px;
}
#Services {
    font-size: 40px;
}
#Funcionarios {
    font-size: 40px;
}
#Horarios {
    font-size: 40px;
}
#ConvidarCliente {
    font-size: 40px;
}
#Ajustes {
    font-size: 40px;
}
#SectionAgendaSalaoPainel{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

#ConteinerAgendaPainel {
    width: 60%;
    margin-left: 20%;
}
#DiaMesAno {
    width: 80%;
    height: 35px;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}
#SelectMes {
    width: 300px;
    height: 35px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
#Agendados {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#Agendados ul {
    background-color: #0b395477;
    border: black solid 1px;
    border-radius: 10px;
    list-style: none;
    margin-left: 4%;
    width: 20%;
    margin-bottom: 15px;
    text-align: center;
}
#Buscados {
    display: none;
    flex-flow: row wrap;
    width: 100%;
}
#Buscados ul {
    background-color: #0b395477;
    border: black solid 1px;
    border-radius: 10px;
    list-style: none;
    margin-left: 4%;
    width: 20%;
    margin-bottom: 15px;
    text-align: center;
}
#Agendados ul .D {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.D .Bt {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
    font-weight: 600;
    color: #000000;
    background-color: #817f7f;
}

.btnValor {
    height: 35px;
    width: 100px;
    border-radius: 5px;
}
@media(max-width: 650px){
    #Agendados ul {
        width: 80%;
        margin-left: 10%;
    }

}
#Agendados ul li p {
    line-height: 25px;
    font-weight: 600;
}
.UnderLine{
    text-decoration: underline;
}

#Relatorio {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
}
#Today {
    width: 80%;
    margin-left: 10%;
    display: flex;
}
#Today div {
    width: 40%;
    margin: 5%;
}