*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(129, 124, 124);
}
#HeaderSalao {
    display: flex;
    width: 100%;
    height: 105px;
}
#LogoSalao{
    width: 100px;
    height: 90px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
}
#TitleSalao{
    margin-top: 30px;
}
hr{
    width: 100%;
    color: black;
    border: 1px solid;
    margin-bottom: 5px;
}
#ButtonsMenuSalao {
    display: flex;
    width: 100%;
    height: 50px;
}
.DivMenu{
    height: 50px;
    width: 80px;
    margin-left: 5px;
}
#DivAganda{
    background-color: white;
}
#Agenda{
    margin-left: 15px;
    font-size: 45px;
}
#Services {
    margin-left: 15px;
    font-size: 45px;
}
#Funcionarios {
    margin-left: 15px;
    font-size: 45px;
}
#Horarios {
    margin-left: 15px;
    font-size: 45px;
}
#ConvidarCliente {
    margin-left: 15px;
    font-size: 45px;
}
#Ajustes {
    margin-left: 15px;
    font-size: 45px;
}
#SectionAgendaSalao{
    margin-top: -10px;
    width: 100%;
    height: 500px;
    background-color: white;
}

