#DivAganda{
    background-color: transparent;
}
#Agenda{
    margin-left: 15px;
    font-size: 45px;
}
#Services {
    margin-left: 15px;
    font-size: 45px;
}
#DivServicos {
    background-color: transparent;
}
#Funcionarios {
    margin-left: 15px;
    font-size: 45px;
}
#DivFuncionarios{
    background-color: transparent;
}
#Horarios {
    margin-left: 15px;
    font-size: 45px;
}
#ConvidarCliente {
    margin-left: 15px;
    font-size: 45px;
}
#Ajustes {
    margin-left: 15px;
    font-size: 45px;
}

#TitleAjustes {
    color: black;
    text-align: center;
    text-decoration: underline;
}
#AjustesImg {
    border: solid black 1px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    background-color: rgba(129, 124, 124, 0.671);

}
#ParagrafoImg {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.BtnImg {
    height: 30px;
    border-radius: 2px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(129, 124, 124);
}
.BtnImg:hover {
    opacity: 80%;
}
#Preferencias {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 10px;
}

.PPreferecias {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
@media(max-width: 600px){
    .PPreferecias {
        font-size: 12px;
    }

}
#Minutos {
    width: 250px;
    height: 30px;
    border: solid black 1px;
    border-radius: 2px;
}
#BtnMinutos{
    width: 200px;
    height: 30px;
    background-color: rgb(129, 124, 124);
    margin-bottom: 10px;
}
#BtnMinutos:hover {
    opacity: 80%;
}
#Preferencias ul li {
    border: solid black 1px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
    background-color: rgba(129, 124, 124, 0.671);

}
#MinutosCima {
    border: solid black 1px;
    width: 150px;
}
#DefinirCimaHora{
    font-weight: 600;
    width: 100px;
    background-color: rgb(129, 124, 124);
}
#DefinirCimaHora:hover{
    opacity: 80%;
}
#Senha {
    width: 80%;
    margin-left: 10%;
}
#TitleSenha {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.PFormSenha {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.InputFormSenha {
    width: 250px;
    height: 25px;
    border: solid black 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#BtnFormSenha {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
    height: 25px;
    background-color: rgb(129, 124, 124);
    font-weight: 600;
    cursor: pointer;
}
#BtnFormSenha:hover {
    opacity: 80%;
}
#Cadastro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#TitleCadastro {
    font-weight: 600;
    text-decoration: underline;
}
.PCadastro {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.InputCadastro {
    width: 250px;
    height: 25px;
    border: solid black 1px;
}
#BtnCadastro {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
    height: 25px;
    background-color: rgb(129, 124, 124);
    cursor: pointer;
}
#BtnCadastro:hover {
    opacity: 80%;
}
#TitleEditarSenhaFuncionario {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:  600;
    text-decoration: underline;
}
#EditarSenhaFuncionario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.InputEditarSenhaFuncionario{
    width: 250px;
    height: 25px;
    border: solid black 1px;
}
#BtnEditarSenhaFuncionario {
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(129, 124, 124);
    width: 125px;
    height: 25px;
}
#BtnEditarSenhaFuncionario:hover {
    opacity: 80%;
}

#Plano {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#TitlePlanos {
    text-decoration: underline;
}
#TextoPlano {
    text-decoration: underline;
}








