#SectionConvidar {
    width: 80%;
    margin-left: 20%;
}
#TitleLinkAgendamento {
    color: rgb(253, 6, 6);
    text-align: center;
    text-decoration: underline;
}
#InfoLink{
    background-color: aqua;
    width: 80%;
    margin-left: 10%;
}
#TextInfoLink {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 30px;
}
#CodigoIndicação {
    width: 80%;
    margin-left: 10%;
}
#TitleCodigoIndicação {
    text-align: center;
    text-decoration: underline;
}
#pCodigoIndicação {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
