#SectionHorarios {
    width: 80%;
    margin-left: 20%;
}
#TitleHorarios {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    text-decoration: underline;
}
#Form_dias {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-weight: 600;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#dia {
    width: 80%;
    margin-left: 10%;
    height: 35px;
    margin-bottom: 15px;
    border: solid black 1px;
    
}
#inicio {
    width: 80%;
    margin-left: 10%;
    height: 35px;
    margin-bottom: 15px;
    border: solid black 1px;
}
#termino {
    width: 80%;
    margin-left: 10%;
    height: 35px;
    margin-bottom: 15px;
    border: solid black 1px;
}
#Btn_cad {
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #0b395477;
}

#DivHorarios {
    width: 100%;
}
#DivHorarios ul {
    width: 80%;
    margin-left: 10%;
}
#DivHorarios ul li {
    font-size: 10px;
    height: auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: solid black 1px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 5px 1px black;
}
.DiaSemana {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.BtnHorario {
    cursor: pointer;border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: #0b395477;
    
}
.BtnHorario:hover{
    opacity: 80%;
}