
#notificationrelatorio {
    height: 30px;
    padding: 3px;
    width: 80%;
    margin-top: -15px;
    margin-left: 20%;
    text-align: right;
}
.iconNotificationRelatorio {
    cursor: pointer;
    margin-right: 20px;
}
.iconNotificationRelatorio:hover {
    color: #b7b7be;
}
#sectionRelatorios {
    margin-top: -20px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 20%;
}
#TitleRelatorio {
    text-align: center;
    margin-bottom: 10px;
}
#menuRelatorio {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
#menuRelatorio #op {
    height: 35px;
    width: 20%;
    border-radius: 5px;
    background-color: #5e5e74;
    color: white;
}
#menuRelatorio input {
    width: 20%;
    border-radius: 5px;
    height: 35px;
    background-color: #5e5e74;
    color: white;
    cursor: pointer;
} 
#responseRelatorio {
    font-size: 15px;
    color: white;
    width: 80%;
    margin-left: 20%;
}
#relatorioservicos {
    width: 80%;
    margin-left: 10%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: auto;
}
#listaServicos {
    text-align: center;
    line-height: 25px;
    background-color: #5e5e74;
    width: 40%;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    height: 80%;
    overflow-y: auto;
}
#listaQuantidade {
    width: 40%;
    height: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.subListaQuantidade {
    background-color: #5e5e74;
    border-radius: 5px;
    width: 100%;
    height: 20%;
    padding: 5px;
    margin-top: 4%;
    font-size: 10px;
}