* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#HomeConteinerInit {
    width: 100%;
    height: auto;
    background-color: #bfd7ea;
}
#HeaderHomeInit {
    background-color: #0b3954;
    width: 100%;
    height: 83px; 
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 5px 8px 3px rgba(0, 0, 0, 0.719);
}

@media (max-width: 600px){
    #HeaderHomeInit #Logo {
        margin-top: 40px;
        width: 80px;
        height: 80px;
    }
    #HeaderHomeInit ul li {
        margin-top: 5px;
        list-style: none;
        margin-bottom: 5px;
    }
    #HeaderHomeInit ul li #A {
        text-decoration: none;
        color: aliceblue;
        font-size: 15px;
    }
}
@media (min-width: 600px){
    #HeaderHomeInit #Logo {
        margin-top: 10px;
        width: 150px;
        height: 150px;
    }
    #HeaderHomeInit ul li {
        margin-top: 2px;
        list-style: none;
        margin-bottom: 2px;
    }
    #HeaderHomeInit ul li #A {
        text-decoration: none;
        font-size: 20px;
        color: aliceblue;
    }
    #ConteudoHomeInit ul li p {
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
#ConteudoHomeInit {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#H {
    margin-top: 40px;
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}
#ConteudoHomeInit ul {
    background-color: #0b395477;
    border: black solid 1px;
    border-radius: 10px;
    list-style: none;
    margin-left: 4%;
    width: 20%;
    margin-bottom: 15px;
    text-align: center;
}
#ConteudoHomeInit ul img {
    margin-top: 10px;
    width: 170px;
}
#ConteudoHomeInit ul li {
    list-style: none;
}
#ConteudoHomeInit ul li p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.PConteudohome {
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.BtnConteudoHomeInit {
    margin-top: 10px;
    width: 150px;
    height: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 550;
    border-radius: 5px;
}