* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #0b0f1a;
}
.Home {
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(
    120deg,
    rgba(11,15,26,0.95),
    rgba(11,15,26,0.85)
    );
}
.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(11,15,26,0.85);
    box-shadow: 2px 3px 5px black;
}
.logoTemp {
    height: 40px;
    cursor: pointer;
}
.logoTemp:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
.menu {
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.LK {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.LK:hover {
    padding-top: 10px ;
    color: #474747;
    transition: color 0.3s;
}
#content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}


.textHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}.textHome h1 {
    color: white;
    font-size: 50px;
    line-height:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textHome p {
    margin-top: 30PX;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.btnHome {
    color: white;
    margin-top: 30px;
    display: flex;
    width: 50%;
    height: 45px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #202e5c;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
.btnHome:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 5px  #008cef;
}
.imgHome {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}.imgHome img {
    width: 90%;
}

@media(max-width: 800px){
    .Home {
        height: auto;
        padding-bottom: 30px ;
    }
    .LK {
        font-size: 10px;
    }
    #content {
        display: flex;
        flex-direction: column-reverse;
    }
    .textHome {
        width: 100%;
        text-align: center;
    }
    .textHome p {
        text-align: justify;
    }
    .btnHome {
        width: 80%;
        margin-left: 10%;
    }.imgHome {
        width: 100%;
    }
}