* {
    margin: 0;
    padding: 0;
}
.Home {
    margin-top: -50px;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header h1 {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    cursor: pointer;
}
#H4 {
    color: rgb(255, 255, 255);
}
nav {
    float: right;
}nav .LK {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    padding-right: 20px;
}.LK:hover {
    font-size: 18px;
}
@media (min-width: 200px){
    .Home {
        background-image: url(../assets/salao.jpg);
        background-position: center ;
    }
    h1{
        font-size: 40px;
        margin-top: 30px;
    }
    nav .LK {
        font-size: 20px;
        padding-right: 25px;
    }
    #content {
        margin-top: 230px;
    }
    #slogan {
        width: 80%;
        margin-left: 10%;
    }
    h4 {
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
    }
    #slogan #P { 
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 700px){
    h1{
        font-size: 40px;
    }   
    nav .LK {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #content {
        margin-top: 280px;
    }
    #slogan {
        width: 80%;
        margin-left: 10%;
    }
}
#slogan p {
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
#slogan a {
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#slogan a:hover{
    font-size: 25px;
    color: rgb(90, 81, 81);
}