* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #343351;
}
.Home {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/bghome.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #161616b4;
}
.logoTemp {
    height: 40px;
    cursor: pointer;
}
.logoTemp:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
.menu {
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.LK {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.LK:hover {
    padding-top: 10px ;
    color: #474747;
    transition: color 0.3s;
}
#content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}


.textHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}.textHome h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.textHome p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.btnHome {
    margin-top: 30px;
    display: flex;
    width: 50%;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #474747;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
    cursor: pointer;
}
.btnHome:hover {
    opacity: 0.8;
}
.imgHome {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}.imgHome img {
    width: 90%;
}

@media(max-width: 800px){
    .Home {
        height: auto
    }
    .LK {
        font-size: 10px;
    }
    #content {
        display: flex;
        flex-direction: column-reverse;
    }
    .textHome {
        width: 100%;
        text-align: center;
    }
    .textHome p {
        text-align: justify;
    }
    .btnHome {
        width: 80%;
        margin-left: 10%;
    }.imgHome {
        width: 100%;
    }
}