#pendente_Conteiner {
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#alerta {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}
a {
    color: white;
}