#SectionServicosSalao{
    margin-top: 10px;
    width: 80%;
    margin-left: 20%;
    height: auto;
}
#TitleServicos {
    color: black;
    margin-top: 9px;
    text-align: center;
    text-decoration: underline;
}
#FormServicos{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

#ParagrafoRegistrarServico {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#TipodeServico {
    border-radius: 5px;
    border: solid black 1px;
    width: 80%;
    margin-left: 10%;
    height: 35px;
    margin-bottom: 10px;

}
#ParagrafoPrecoServico {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#PrecoServico {
    border-radius: 5px;
    border: solid black 1px;
    width: 80%;
    margin-left: 10%;
    height: 35px;
    margin-bottom: 10px;
}
#BtnServicos {
    text-align: center;
    cursor: pointer;
    background-color: #0b395477;
    width: 40%;
    margin-left: 30%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#BtnServicos:hover {
    background-color: rgb(80, 79, 78);
}
@media(max-width: 600px){
    #TipodeServico {
        width: 80%;
    }
    #PrecoServico {
        width: 80%;
    }
}
#ServicosCadastrados {
    
    width: 100%;
}
#ServicosCadastrados ul {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border: solid black 1px;
    box-shadow: 1px 2px 5px 1px black;
}
#ServicosCadastrados ul li {
    display: flex;
    justify-content: space-around;
}
.PServicoCadastrado {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#BtnEditar {
    cursor: pointer;
    width: 80px;
    border-radius: 3px;
    background-color: #0b395477;
}
#BtnEditar:hover{
    background-color: rgb(80, 79, 78);
}