
.cabeçalho {
    background-color: #000000;
    width: 100%;
    height: 70px;
    color: white;
    box-shadow: 2px 5px 8px 3px rgba(0, 0, 0, 0.719);
}
.BtnExit{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
#TitleFuncionario {
    text-align: center;
}
h5{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.ContainerAgenda {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.ContainerAgenda ul {
    background-color: #0b395477;
    border: black solid 1px;
    border-radius: 10px;
    list-style: none;
    margin-left: 4%;
    width: 20%;
    margin-bottom: 15px;
    text-align: center;
}
#Buscados {
    margin-top: 50px;
    display: none;
    flex-flow: row wrap;
    width: 100%;
}
#Buscados ul {
    border: black solid 1px;
    border-radius: 10px;
    list-style: none;
    margin-left: 4%;
    width: 20%;
    margin-bottom: 15px;
    text-align: center;
}
@media(max-width: 650px){
    .ContainerAgenda ul {
        width: 80%;
        margin-left: 10%;
    }

}
.DivStatus {
    margin-left: 25%;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
}
