*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#LoginSalao {
    background-color: #ffffffd3;
}
#HeaderLoginSalao {
    background-color: #000000;
    width: 100%;
    height: 110px;
    display: block;
    justify-content: space-between;
}
#HeaderLoginSalao h4 {
    margin-left: 10px;
    margin-top: 10px;
}
#HeaderLoginSalao ul {
    margin-top: 20px;
    margin-right: 20px;
}
#Link {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}
#FormLoginSalao {
    margin-top: 100px;
    background-color: #ffffff;
    
}
#Form_Login {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
#PLoginSalao {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
#Form_Login .InpLoginSalao {
    width: 90%;
    margin-left: 5%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #a09a9a69;
}
#BtnLoginSalao {
    cursor: pointer;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 19px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    margin-bottom: 100px;
    background-color: rgb(88, 88, 88);
}

@media(max-width: 900px){
    #FormLoginSalao {
        text-align: center;
        margin-top: 50px;
    }
    #imgDiv {
        display: none;
    }
    form{
        margin-left: 0;
        width: 100%;
    }
    #LogoImg  {
        width: 100px;
        margin-left: 10px;
    }
    
    .InpLoginSalao {
        width: 200px;
        height: 30px;
        border: none;
        border-radius: 5px;
    }
    #BtnLoginSalao {
        cursor: pointer;
        height: 33px;
        width: 150px;
    }
}