#DivAganda{
    background-color: transparent;
}
#Agenda{
    margin-left: 15px;
    font-size: 45px;
}
#Services {
    margin-left: 15px;
    font-size: 45px;
}
#DivServicos {
    background-color: transparent;
}
#Funcionarios {
    margin-left: 15px;
    font-size: 45px;
}
#DivFuncionarios{
    background-color: white;
}
#Horarios {
    margin-left: 15px;
    font-size: 45px;
}
#ConvidarCliente {
    margin-left: 15px;
    font-size: 45px;
}
#Ajustes {
    margin-left: 15px;
    font-size: 45px;
}