#TitleFuncionarios {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    text-decoration: underline;
}
#SectionFuncionariosSalao {
    width: 80%;
    margin-left: 20%;
    height: auto;
}
#FormFuncionarios{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#ParagrafoRegistrarFuncionarios {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#NomeFuncionario {
    border-radius: 5px;
    border: solid black 1px;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 10px;
}
#ParagrafoCpfFuncionario {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#CpfFuncionarios {
    border-radius: 5px;
    border: solid black 1px;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 10px;
}
#PSenhaFuncionarios{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom:  10px;
}
#SenhaFuncionarios {
    border-radius: 5px;
    border: solid black 1px;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 10px;
}
#SenhaFuncionarioss{
    border-radius: 5px;
    border: solid black 1px;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 10px;
}
#BtnFunc{
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #0b395477;
}
#BtnFunc:hover {
    background-color: rgb(70, 73, 72);
}

#FuncionariosCadastrados {
    width: 100%;
}
#FuncionariosCadastrados ul {
    margin-top: 20px;
    border: solid black 1px;
    box-shadow: 3PX 3PX 3PX black;
    width: 80%;
    margin-left: 10%;
}
#FuncionariosCadastrados ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#FuncionariosCadastrados ul li div{
    width: 30%;
}
#imgFuncionarios {
    text-align: center;
}
#imgFuncionarios img {
    padding-top: 10px;
    width: 100px;
    border-radius: 100%;
}
#imgFuncionarios button {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #0b395477;
}
#infoFincionario {
    text-align: center;
    padding-top: 50px;
}
#ButtonsFuncionario{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#ButtonsFuncionario button{
    width: 80%;
    margin-left: 10%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #0b395477;
}

@media(max-width: 800px){
    #FuncionariosCadastrados ul li {
        display: flex;
        flex-direction: column;
    }
    #FuncionariosCadastrados ul li div {
        width: 100%;
    }
}
.PFuncionariosCadastrado {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#BtnVerAgenda {
    background-color: rgb(228, 230, 231);
    cursor: pointer;
    width: 80px;
    border-radius: 5px;

}
#BtnExcluir {
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(228, 230, 231);
}
#BtnExcluir:hover{
    background-color: rgb(63, 62, 61);
}
#BtnVerAgenda:hover{
    background-color: rgb(63, 62, 61);

}